/* basic settings */
:root {
  --color-primary: #3f51b5;
  --color-primary-light: #2196f3;
  --color-primary-dark: #041fb9;
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;
  --color-grey-dark-1: #929292;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #1d1d1d;
  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
  --shadow-light: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.5);
  --line: 1px solid var(--color-grey-light-2);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: 'Courier New', Courier, monospace;
}

body {
  background: var(--color-primary);
  background: linear-gradient(
    220deg,
    var(--color-primary-dark) 20%,
    var(--color-primary-light) 100%
  );
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

ul {
  list-style: none;
}

.container {
  max-width: 120rem;
  margin: 8rem auto;
  background-color: var(--color-grey-light-1);
  -webkit-box-shadow: var(--shadow-dark);
  box-shadow: var(--shadow-dark);
  min-height: 50vh;
  text-align: center;
  border-radius: 12px;
}

/* header
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.header {
  width: 100%;
  height: min-content 10vh;
  padding: 2rem;
  background-color: #000;
  font-family: 'Verdana-Bold', monospace;
  border-radius: 12px 12px 0 0;
  -webkit-box-shadow: var(--shadow-light);
  box-shadow: var(--shadow-light);
}

#title {
  font-size: 5rem;
  color: var(--color-primary);
  padding-top: 1rem;
  text-transform: uppercase;
}

#description {
  color: #fff;
  margin-top: 1rem;
  font-size: 1.4rem;
}

/* main 
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.survey {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5rem;
}

.labels {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  font-family: 'Verdana-Bold', monospace;
  font-size: 1.5rem;
  padding-bottom: 1rem;
}

.input-field,
#dropdown {
  max-width: 90rem;
  width: 20rem;
  height: 3rem;
  background-color: #fff;
}

/* Radio Button
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.radio {
  width: 49%;
  display: inline-block;
}
.radio-ul {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.radio-li {
  margin-bottom: 3rem;
}

.radio-label {
  font-size: 1.6rem;
  cursor: pointer;
  position: relative;
  padding-left: 3.5rem;
}

.radio-input {
  display: none;
}

.custom_radio-button {
  height: 3rem;
  width: 3rem;
  border: 5px solid var(--color-primary);
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  left: -1rem;
  top: -0.5rem;
}

.custom_radio-button::after {
  content: '';
  display: block;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--color-primary);
  opacity: 0;
  transition: opacity 0.2s;
}

.radio-input:checked ~ .radio-label .custom_radio-button::after {
  opacity: 1;
}

/* Check Boxes
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.checkbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
}

.checkbox-ul {
  padding-right: 15rem;
}

.checkbox-li {
  text-align: right;
  padding: 1rem;
}

.checkbox-label {
  margin-right: 4rem;
}

/* Textarea
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.comments {
  height: 30vh;
  width: 100%;
}

.submit {
  margin-top: 8rem;
}

.submit-btn {
  background-color: var(--color-primary);
  font-size: 2rem;
  height: 5rem;
  width: 20rem;
  color: var(--color-grey-light-2);
  border-radius: 1rem;
  text-decoration: none;
  padding: 1rem 0.5rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  border-radius: 1rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 0.5rem solid var(--color-primary-dark);
  box-shadow: 0.3rem 0.4rem 0 0 var(--color-grey-dark-2);
}
.submit-btn:hover {
  background-color: var(--color-grey-light-2);
  color: var(--color-primary-dark);
  font-weight: bold;
}

.submit-btn:active {
  position: relative;
  top: 0.3rem;
  left: 0.2rem;
  box-shadow: 0 0;
}
